/* styles.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Estilos para el tema claro */
.theme-light {
    color: gray;
    background-color: #fff; /* Fondo blanco */
  }
  
  /* Estilos para el tema oscuro */
  .theme-dark {
    color: gray;
    background-color: #28262B; /* Fondo color zinc-800 */
  }
  